* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    
}
html,body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-color: cyan;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#curser i {
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;

}
h1{
    font-size: 10vw;
    font-weight:800 ;
}