* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 400px;
    width: 280px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
#card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px ;
} #card h1 {
    font-size: 25px;
    margin: 10px;
}
#card h5 {
   font-size: 25px;
   color: red;
   margin: 20px;

}
#card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
 .box {
    box-shadow: 5px 10px 10px black;
 }
 